:root {
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(235, 16%, 14%);
    --Very-dark-mostly-black-blue: hsl(234, 17%, 12%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Red Hat Text';
    text-transform: uppercase;
}

body{
    background-image: url(images/bg-stars.svg);
    background-color: var(--Very-dark-blue);
    color: var(--White);
    min-width: 100vh;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.title{
    text-align: center;
    letter-spacing: 4px;
    position: relative;
    bottom: 120px;
}

.title p{
    font-size: 18px;
}

.launch-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    position: relative;

    /* border: 1px dotted white; */
}

.launch-time div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* LEFT CIRCLE CLIPPING */
.circle1::before{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background-color: var(--Very-dark-blue);
    z-index: 3000;
    position: absolute;
    top: 60px;
    left: -10px;
}

.circle1{
    position: relative;
}

/* RIGHT CIRCLE CLIPPING */
.circle2{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background-color: var(--Very-dark-blue);
    /* background-color: yellow; */
    z-index: 3000;
    position: absolute;   
    bottom: -60px;
    right: -55px;
}

.box-up{
    background-color: var(--Dark-desaturated-blue);
    filter: brightness(85%);
    width: 110px;
    height: 55px;
    border-radius: 7px 7px 0px 0px;
    display: flex;
    justify-content:end;
    position: relative;
    overflow: hidden;
}

.box-up p{
    font-size: 57px;
    font-weight: bold;
    color: var(--Soft-red);
    position: absolute;
    bottom: -38px;
    z-index: 200;
}

.box-down{
    background-color: var(--Dark-desaturated-blue);
    width: 110px;
    height: 55px;
    border-radius: 0px 0px 7px 7px;
    display: flex;
    justify-content:end;
    position: relative;
    overflow: hidden;
}

.box-down::after{
    content: "";
    display: block;
    border: 1px outset var(--Grayish-blue);
}

.box-down p{
    font-size: 57px;
    font-weight: bold;
    color: var(--Soft-red);
    position: absolute;
    bottom: 17px;
    z-index: 200;
}


/* .box::after{
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 100px;
    opacity: 100%;
    mix-blend-mode: normal;
    background-color: white;
    position: absolute;
    left: -7%;
    top: 45%;
} */



.launch-time p:nth-child(1){
    /* font-size: 100px; */
}

/* Numbers in the box */
.box p{
    /* text-align: center;
    font-size: 57px;
    font-weight: bold;
    color: var(--Soft-red); */
    /* scale: (2.5, 1); */
    /* transform: scaleY(105%);
    transform: scaleX(105%); */
}

.text{
    font-size: 10px;
    font-weight: 400;
    color: var(--Grayish-blue);
    letter-spacing: 5px;
    margin-top: 20px;
}

.icons{
    position: fixed;
    bottom: 6%;
    display: flex;
    gap: 30px;
}

.icons img{
    width: 15px;
    /* font-size: 10px; */
}

.mntn{
    z-index: -100;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    /* border: 1px solid lightblue; */
}








/* DEFAULT FOOTER STUFF */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 20px;
    /* transform: translateX(50%); */
}

.attribution { 
    text-align: center;
    padding-top: 40px;
}

.attribution p, a{
    font-size: 10px; 
 }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}